body {
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Helvetica;
}

#display {
    font-size: 70px;
    align-self: flex-end;
    padding-right: 45px;
    font-weight: normal;
}

#calculator {
    padding: 0% 15% 0% 15%;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    font-size: 40px;
}

#digitOperatorContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

#clearDigitContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#digits button {
    background-color: rgb(43, 42, 42);
    border-color: rgb(43, 42, 42);
    color: white;
}

#digits button:active {
    background-color: grey;
    border-color: grey;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#operators button {
    background-color: orange;
    border-color: orange;
    color: white;
    transition: all .25s ease-in;
}

#operators button:active {
    background-color: white;
    color: orange;
    border-color: white;
}

#topButtons {
    display: flex;
    gap: 15px;
}

#clear, #positiveNegative, #percent {
    background-color: rgb(146, 145, 145);
    border-color: rgb(146, 145, 145);
    color: black;
}

#clear:active, #positiveNegative:active, #percent:active {
    background-color: rgb(201, 197, 197);
}

#digits {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
}

#zero {
    border-radius: 0%;
    height: 100;
    width: 200;
}

#container {
    display: flex;
    grid-column: span 2;
    width: 215px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#leftSemiCircle, #rightSemiCircle {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 42, 42);
}

#leftSemiCircle {
    border-radius: 50% 0% 0% 50%;
}

#rightSemiCircle {
    border-radius: 0% 50% 50% 0%;
}