body {
    margin: auto;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Helvetica;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

#display {
    color: white;
    font-size: 70px;
    font-weight: normal;
    align-self: flex-end;
}

button {
    height: 90px;
    width: 90px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    font-size: 40px;
}

.digits {
    background-color: rgb(43, 42, 42);
    border-color: rgb(43, 42, 42);
    color: white;
}

.digits:active {
    background-color: grey;
    border-color: grey;
}

.operators {
    background-color: orange;
    border-color: orange;
    color: white;
    transition: all .25s ease-in;
}

.operators:active {
    background-color: white;
    color: orange;
    border-color: white;
}

#clear, #positiveNegative, #percent {
    background-color: rgb(146, 145, 145);
    border-color: rgb(146, 145, 145);
    color: black;
}

#clear:active, #positiveNegative:active, #percent:active {
    background-color: rgb(201, 197, 197);
}

#zero {
    border-radius: 0%;
    height: 90;
    width: 180;
}

#container {
    display: flex;
    grid-column: span 2;
    width: 190px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#leftSemiCircle, #rightSemiCircle {
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 42, 42);
}

#leftSemiCircle {
    border-radius: 50% 0% 0% 50%;
}

#rightSemiCircle {
    border-radius: 0% 50% 50% 0%;
}